<%include ./partials/header.ejs%>
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%include ./partials/nav.ejs%>
    <h1>My products</h1>
    <%if(products.length>0){%>
        <h3>List</h3>
        <%for(var i=0;i<products.length;i++){%>
            <ul>
                <li><%=products[i].title%></li>
            </ul>
        <%}%>
    <%}else{%>
        <h3>No products</h3>
    <%}%>
<%include ./partials/footer.ejs%>